<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.css"/>
  <link rel="stylesheet" href="../css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.js'></script>

 
 
</head>
<body>
	<div class="header">
		<div class="ui secondary menu">
			<div class="left menu">
				<a href='../index.html'> <h1 class="ui header wordmark">WideShot</h1> </a>
			</div>
			<a href="../index.html" id="home" class="item">Home</a>
			<div class="ui dropdown item" >
				<span class="text">My Projects</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div id="ongoingProjects" class="header">Ongoing Projects</div>
					<a href="./project.html" class="item">Baylife 2</a>
					<div class="divider"></div>
					<div class="header">Past Projects</div>
					<div class="item">Baylife</div>
					<div class="item">The Room</div>
				</div>
			</div>
			<a href="./profile.html" class="item"><i class="user icon"></i></a>
		</div>
	</div>
	<div class="ui stackable grid">
		<div class="four wide column feed">
			<h2 id="projectFor" class="ui header feed">Create an Event:</h1>
			<form class="ui form">
				<div class="field">
					<label>Title</label>
					<input type="text" name="title" placeholder="Title">
				</div>
				<div class = "fields">
					<div class="field">
						<label>Time</label>
						<input type="text" name="time" placeholder="Time" id="timepicker">
					</div>
					<div class="field">
						<label>Date</label>
						<input type="text" name="date" placeholder="Date" id="datepicker">
					</div>
				</div>
				<div class="field">
					<label>Location</label>
					<input type="text" name="location" placeholder="Location">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea name='description' rows="2"></textarea>
				 </div>
				 <div class="field">
					<label>Add Member</label>
					<select name="members" multiple="" class="ui dropdown">
						<option value="">Select Values</option>
						<option value="Hugh Mann">Hugh Mann</option>
						<option value="Garron Charles">Garron Charles</option>
						<option value="John Stephens">John Stephens</option>
						<option value="Kenny Gea">Kenny Gea</option>
					</select>
				 </div>
				 <p></p>
				<button class="ui submit button">Submit</button>
				<button class="ui clear button">Clear</button>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="eleven wide column feed">
				<div id='calendar'></div>
		</div>
	</div>
	<div class="wrapper">
		
	</div>
	<script src="../javascript/createEvent.js"></script>
</body>
</html>