<html >
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
 
 
</head>
<body>
	<div class="header">
		<div class="ui secondary menu">
			<div class="left menu">
				<h1 class="ui header wordmark">WideShot</h1>
			</div>
			<a id="home" class="active item">Home</a>
			<a class="ui simple dropdown item" >
				<span class="text">My Projects</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="header">Ongoing Projects</div>
					<div class="item">Baylife 2</div>
					<div class="divider"></div>
					<div class="header">Past Projects</div>
					<div class="item">Baylife</div>
					<div class="item">The Room</div>
				</div>
			</a>
			<a class="item"><i class="user icon"></i></a>
		</div>
	</div>
	<div class="ui grid">
		<div class="four wide column feed">
			<h2 class="ui header feed">Create an Event:</h1>
			<form class="ui form">
				<div class="field">
					<label>Title</label>
					<input type="text" name="title" placeholder="Title">
				</div>
				<div class = "fields">
					<div class="field">
						<label>Time</label>
						<input type="text" name="time" placeholder="Time">
					</div>
					<div class="field">
						<label>Date</label>
						<input type="text" name="date" placeholder="Date" id="datepicker">
					</div>
				</div>
				<div class="field">
					<label>Location</label>
					<input type="text" name="location" placeholder="Location">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea rows="2"></textarea>
				 </div>
				 <div class="field">
					<label>Add Member</label>
					<input type="text" name="memebers" placeholder="John Doe...">
				 </div>
				 <button class="ui button" type="submit">Clear</button>
				 <button class="ui button" type="submit">Add All</button>
				 <p></p>
				<button class="ui button" type="submit">Submit</button>
			</form>
		</div>
		<div class="eleven wide column feed">
			<div class="responsive-iframe-container">
				<iframe src="https://calendar.google.com/calendar/embed?title=Baylife&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=jvrpef4bk0a3n5me8eipsf0qu4%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
	<div class="wrapper">
		
	</div>
	<script src="../javascript/createEvent.js"></script>
</body>
</html>