<html >
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="../javascript/jquery.jcarousel-core.min.js"></script>
  <script src="../javascript/jquery.jcarousel-control.min.js"></script>
  <script src="../javascript/jquery.jcarousel-pagination.min.js"></script>



  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

</head>
<body>
	<div class="header">
		<div class="ui secondary menu">
			<div class="left menu">
				<h1 class="ui header wordmark">WideShot</h1>
			</div>
			<a id="home" class="topbar item">Home</a>
			<a href="./project.html" class="ui dropdown item" >
				<span class="text">My Projects</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="header">Ongoing Projects</div>
					<div class="item">Baylife 2</div>
					<div class="divider"></div>
					<div class="header">Past Projects</div>
					<div class="item">Baylife</div>
					<div class="item">The Room</div>
				</div>
			</a>
			<a class="active item"><i class="user icon"></i></a>
		</div>
	</div>
	<div class="ui three column grid profile">
		<div id="first_row" class="row">
			<div class="column profile">
				<div class='buffer profile'>
				</div>
				<div class="ui cards profile">
					<div class="about card">
						<div class="content profile">
							<div class="header">
								About Hugh
							</div>
							<div class="description">
								<strong>Contact Information: </strong> human@ws.net<br>
								<strong>Bio: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
								<strong>Roles: </strong> Actor: 1
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column profile">
				<div class='buffer profile'>
				</div>
				<div class="content profile"> 
					<h1 id="photo" class="ui center aligned icon header">
						<img id="profile_pic" class="ui circular image" src="..\images\man.png">
						<br>
						Hugh Mann
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class = "row centered">
		<div class = "column">
			<i class="remove icon"></i>
		</div>
		<div class = "column centered">
			<h1 class="profile_header">Ongoing Projects</h1>
		</div>
		</div>
		<div class="ui two column grid">
			<div class="column"/>
			<div class="column">	
				<div class="wrapper">
	            <div class="jcarousel-wrapper">
	                <div class="jcarousel">
	                    <ul>
	                        <li><img src="../images/grass_strands.png" width="600" height="400" alt=""></li>
	                        <li><a href="./project.html"><img src="../images/baylife.png" width="600" height="400" alt=""></a></li>
	                        <li><img src="../images/plane.jpg" width="600" height="400" alt=""></li>
	                    </ul>
	                </div>

	                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
	                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
	                
	                <p class="jcarousel-pagination">
	                    
	                </p>
            </div>
        </div>
		<div class = "column">
		</div>
		
	
	<div class="wrapper">
		
	</div>
<script src="../javascript/profile.js"></script>
</body>

</html>	