<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="ui secondary menu">
			<div class="left menu">
				<a href='../index.html'> <h1 class="ui header wordmark">WideShot</h1> </a>
			</div>
			<a href="../index.html" id="home" class="item">Home</a>
			<div class="ui dropdown item" >
				<span class="text">My Projects</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div id="ongoingProjects" class="header">Ongoing Projects</div>
					<a href="./project.html" class="item">Baylife 2</a>
					<div class="divider"></div>
					<div class="header">Past Projects</div>
					<div class="item">Baylife</div>
					<div class="item">The Room</div>
				</div>
			</div>
			<a href="./profile.html" class="item"><i class="user icon"></i></a>
		</div>
	</div>
	<div class="ui stackable grid centered">
		<div class="five wide column project">
			<h1 id="projectTitle" class="ui header centered">Baylife 2</h1>
			<div class = "ui cards centered"> 
				<div class="card">
					<div class="image">
						<img src="../images/calendar.png">
					</div>
					<div class="content">
						<a id="schedule" class="header">Schedule</a>
					</div>
				</div>
				<div class="card">
					<div class="image">
					</div>
					<h1 class="ui header">Project Members</h1>
					<div class="content project">
						<a href="./profile.html" class="header">Hugh Mann</a>
						<a class="header">Garron Charles</a>
						<a class="header">John Stephens</a>
						<a class="header">Kenny Gea</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ten wide column project">
			<h1 class="ui header centered">Events</h1>
			<div id="events"class = "ui cards centered"> 
				<div class="card">
					<div class="image">
						
					</div>
					<div class="content">
						<a class="header createEvent">Add Event</a>
						<div class="meta">
							<span class="date">5/1/2016</span>
						</div>
						<div class="description">
						<a class="createEvent"> <i class="plus icon"></i>Create</a>
						</div>
					</div>
					<div class="extra content">
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		
	</div>
	<script src="../javascript/project.js"></script>
</body>
</html>