<html >
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="ui secondary menu">
			<div class="left menu">
				<h1 class="ui header wordmark">WideShot</h1>
			</div>
			<a id="home" class="active item">Home</a>
			<a id="projects" class="item">My Projects</a>
			<a class="item"><i class="user icon"></i></a>
		</div>
	</div>
	<div class="ui grid">
		<div class="five wide column feed">
			<h1 class="ui header">Baylife 2</h1>
		</div>
		<div class="ten wide column feed">
			<h1 class="ui header">Events</h1>
			<div class = "ui cards"> 
				<div class="card">
					<div class="image">
					</div>
					<div class="content">
						<a class="header">1st Shoot</a>
						<div class="meta">
							<span class="date">5/1/2016</span>
						</div>
						<div class="description">
						First shoot @ Revere Beach
						</div>
					</div>
					<div class="extra content">
						<a><i class="user icon"></i>12 Attending</a>
					</div>
				</div>
				<div class="card">
					<div class="image">
						
					</div>
					<div class="content">
						<a class="header">2nd Shoot</a>
						<div class="meta">
							<span class="date">5/8/2016</span>
						</div>
						<div class="description">
						Second shoot @ Revere Beach
						</div>
					</div>
					<div class="extra content">
						<a><i class="user icon"></i>12 Attending</a>
					</div>
				</div>
				<div class="card">
					<div class="image">
						
					</div>
					<div class="content">
						<a class="header">1st Edit</a>
						<div class="meta">
							<span class="date">5/1/2016</span>
						</div>
						<div class="description">
						1st Edit For Baylife 2
						</div>
					</div>
					<div class="extra content">
						<a><i class="user icon"></i>1 Attending</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		
	</div>
	
</body>
<script src="./javascript/index.js"></script>
</html>